In [22]:
import pandas as pd

In [23]:
data = pd.read_csv('a.csv')

In [24]:
data.head()

    ProdID                  Name  Good  Bad  Neutral  Review
0   555673    Pricilla Bellini       0    0        0     NaN
1  6205345     Marisela Holsey       0    0        0     NaN
2  8428471  Krysten Obermiller       0    1        0     NaN
3  9323886    Octavio Michalik       1    0        0     NaN
4  5417656        Maya Letarte       0    0        1     NaN

In [25]:
k =(len(data['ProdID']))

In [26]:
list(data['Good'].value_counts())[1]

17

In [30]:
len(data.columns)

6

In [32]:
data.values.tolist()

[[555673, 'Pricilla Bellini  ', 0, 0, 0, nan],
 [6205345, 'Marisela Holsey  ', 0, 0, 0, nan],
 [8428471, 'Krysten Obermiller  ', 0, 1, 0, nan],
 [9323886, 'Octavio Michalik  ', 1, 0, 0, nan],
 [5417656, 'Maya Letarte  ', 0, 0, 1, nan],
 [9152258, 'Lucilla Husby  ', 0, 0, 0, nan],
 [2622763, 'Colene Monsivais  ', 1, 1, 1, nan],
 [9005608, 'Lucretia Hardaway  ', 1, 1, 1, nan],
 [5620648, 'Carline Miah  ', 0, 0, 0, nan],
 [4587393, 'Cary Baxter  ', 0, 0, 0, nan],
 [1429373, 'Cira Curlee  ', 0, 1, 0, nan],
 [3259178, 'Mohammad Rexroat  ', 0, 0, 0, nan],
 [4640931, 'Loyd Favero  ', 0, 0, 1, nan],
 [2104816, 'Sanora Rothchild  ', 0, 0, 0, nan],
 [1100603, 'Odelia Ashmore  ', 0, 1, 1, nan],
 [7216041, 'Colin Schott  ', 1, 1, 1, nan],
 [6210842, 'Mercy Coram  ', 0, 1, 0, nan],
 [7026288, 'Adelaida Bonnell  ', 1, 1, 0, nan],
 [1494734, 'Omer Robnett  ', 0, 0, 0, nan],
 [7080371, 'Cathrine Domer  ', 0, 0, 0, nan],
 [852605, 'Genevive Canavan  ', 1, 0, 0, nan],
 [3757687, 'Lieselotte Nilsen  ', 1, 0, 1, nan],
 [776744, 'Tish Mccreary  ', 0, 1, 0, nan],
 [9289216, 'Domonique Albee  ', 0, 0, 1, nan],
 [913590, 'Sanford Garrels  ', 1, 0, 0, nan],
 [1148122, 'Mattie Krueger  ', 0, 0, 0, nan],
 [587579, 'Jovan Duplessis  ', 1, 0, 0, nan],
 [2280226, 'Birdie Mauney  ', 1, 0, 1, nan],
 [1784326, 'Kittie Laakso  ', 1, 1, 1, nan],
 [6586453, 'Yasuko Waldroup  ', 0, 0, 0, nan],
 [300283, 'Candice Bibeau  ', 0, 0, 0, nan],
 [4213657, 'Brittani Dalman  ', 0, 0, 0, nan],
 [4316802, 'Raguel Hills  ', 0, 1, 0, nan],
 [6011385, 'Lena Sprenger  ', 0, 0, 1, nan],
 [7118786, 'Leeann Andress  ', 0, 0, 1, nan],
 [9340725, 'Luciano Leber  ', 0, 0, 1, nan],
 [4296145, 'Jazmine Clingman  ', 1, 0, 1, nan],
 [7764406, 'Alaine Rucker  ', 0, 0, 1, nan],
 [5985097, 'Tamra Hanshaw  ', 0, 0, 1, nan],
 [9492261, 'Barrett Villanueva  ', 1, 1, 0, nan],
 [3871351, 'Eloise Cournoyer  ', 1, 1, 0, nan],
 [758425, 'Noriko Mckern  ', 1, 1, 1, nan],
 [8119745, 'Karolyn Barefield  ', 0, 0, 0, nan],
 [6940128, 'Jong Roehr  ', 0, 1, 0, nan],
 [5916945, 'Johnna Jaynes  ', 1, 1, 1, nan],
 [5277319, 'Johnny Mansfield  ', 1, 0, 0, nan],
 [1491778, 'Librada Rank  ', 0, 0, 1, nan],
 [8700841, 'Rodrick Pinion  ', 0, 1, 0, nan],
 [4400340, 'Stanton Buteau  ', 0, 0, 0, nan],
 [4237305, 'Grayce Barmore  ', 0, 0, 0, nan]]