In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('a.csv')

In [5]:
data.head()

    ProdID                  Name  Good  Bad  Neutral  Review
0   555673    Pricilla Bellini       0    0        0     NaN
1  6205345     Marisela Holsey       0    0        0     NaN
2  8428471  Krysten Obermiller       0    1        0     NaN
3  9323886    Octavio Michalik       1    0        0     NaN
4  5417656        Maya Letarte       0    0        1     NaN

In [ ]:
print(len(data['ProdID']))